body{
    background-color: #ffbaba;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: white;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
  font-weight: 500;
    color: #333;
}

.btn {
    padding: 10px 18px;
    border: slategray;
    cursor: pointer;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: orangered;
}
.logo,img{
    height:30px;
    width: 30px;

}
nav a:hover {
    color: orangered;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.hero-text {
    max-width: 500px;
}
.hero-image img {
    width: 350px;
    height: 300px;
}
.tagline,p{
    color: rgba(241, 86, 29, 0.842);
}
.description{
    color: black;
}
.hero-text,h1{
    color: rgb(1, 1, 63);
}

